################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sln
*.vcxproj
*.filters
*.user
*.json
*.sqlite
*.opendb
*.db
*.suo
*.ipch
*.lastbuildstate
*.tlog
*.ilk
*.pdb
*.obj
